{% extends "base1.html" %}
{% block title %}Contact{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>The Contact Page</h1>
  <p class="lead">Contact Us</p>
  <p> This project was done as a part of academic fulfilment.
  <br>
  <br>
  <b><u>Group Members</u></b>
  <br>
  <i>
  Paul Jose<br>
  1640206<br>
  6 CMS<br>
  <br>
  Sanju C Paul<br>
  1640210<br>
  6 CMS<br>
  <br>
  Sadik Hamit Arim<br>
  1640246<br>
  6 CMS<br>
  <br>
  </i>
  </p>
</div>
{% endblock %}